a{
	text-decoration:none;
	color:#FFF;	
}


#cont{
	background:url(../image/background.png) no-repeat;
	width:1100px;
	height:1027px;
	position:relative;
	margin:0 auto;

}

body{
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	
}

#header{
	width:1100px;
	height:400px;
	margin-left:0px;
	margin-top:0px;
}

#spot{
	background:url(../image/spot.png) no-repeat;
	width:305px;
	height:28px;
	margin-left:400px;
	margin-top:0px;

}

#logincont{
	background:url(../image/sign.png) no-repeat;
	width:408px;
	height:52px;
	margin-left:680px;
	margin-top:5px;	
}

#forget{
	width:60px;
	height:10px;
	margin-left:238px;
	margin-top:-5px;
    font-size:10px;
}

#bar{
	width:1090px;
	height:65px;
	margin-left:5px;
	margin-top:-7px;
}

#bar1{
	background:url(../image/par1.png) no-repeat;
	width:500px;
	height:53px;
	margin-left:0px;
	margin-top:0px;
	float:left;
}

#register2{
	width:80px;
	height:30px;
	text-align:center;
	margin-left:50px;
	margin-top:5px;
	float:left;
	font-size:21px;

}

#product{
	width:80px;
	height:30px;
	text-align:center;
	margin-left:50px;
	margin-top:5px;
	float:left;
	font-size:21px;
}

#video{
	width:80px;
	height:30px;
	text-align:center;
	margin-left:50px;
	margin-top:5px;
	float:left;
	font-size:21px;
}

#bar2{
	background:url(../image/par3.png) no-repeat;
	width:500px;
	height:53px;
	float:right;
	margin-top:0px;	
}

#contactus{
	width:100px;
	height:30px;
	text-align:center;
	margin-left:50px;
	margin-top:5px;
	float:left;
	font-size:21px;

}

#aboutus{
	width:80px;
	height:30px;
	text-align:center;
	margin-left:50px;
	margin-top:5px;
	float:left;
	font-size:21px;
	
}

#home{
	width:80px;
	height:30px;
	text-align:center;
	margin-left:50px;
	margin-top:5px;
	float:left;
	font-size:21px;
}

#logo{
	background:url(../image/logo.png) no-repeat;
	width:125px;
	height:63px;
	margin-left:483px;
	margin-top:-10px;
	
}

#partener{
	width:413px;
	height:76px;
	margin-left:357px;
	margin-top:50px;

}

#tree{
	background:url(../image/pic.png) no-repeat;
	width:1014px;
	height:226px;
	margin-left:58px;
	margin-top:-130px;
	
}

#body2{
	width:1100px;
	height:520px;
	margin-left:0px;
	margin-top:5px;

	
}
	

#homecont{
	background:url(../image/homecont.png) no-repeat;
	width:184px;
	height:270px;
	margin-left:90px;
	margin-top:50px;
	float:left;
	
}
#cl{
	clear:both;
}

#homepic{
	background:url(../image/home.png) no-repeat;
	width:170px;
	height:44px;
	margin-left:15px;
	margin-top:38px;	
}

#b{
	
	width:140px;
	height:200px;
	float:right;
	margin-right:5px;
	margin-top:50px;
	
}

#text{
	width:100px;
	height:30px;
	margin-left:10px;
	margin-top:0px;
	text-align:center;
	font-size:18px;
	color:#06C;
}


#y{
	background:url(../image/arrow2.png) no-repeat;
	width:9px;
	height:15px;
	margin-top:-30px;
	margin-left:0px;
	
}

#text2{
	width:100px;
	height:30px;
	margin-left:0px;
	margin-top:15px;
	text-align:center;
	font-size:18px;
	color:#06C;	
}

#text3{
	width:100px;
	height:30px;
	margin-left:12px;
	margin-top:2px;
	text-align:center;
	font-size:18px;
	color:#06C;
	
}

#text4{
	width:100px;
	height:30px;
	margin-left:8px;
	margin-top:2px;
	text-align:center;
	font-size:18px;
	color:#06C;	
}

#text5{
	width:100px;
	height:30px;
	margin-left:5px;
	margin-top:2px;
	text-align:center;
	font-size:18px;
	color:#06C;	
}

#text6{
	width:100px;
	height:30px;
	margin-left:12px;
	margin-top:2px;
	text-align:center;
	font-size:18px;
	color:#06C;	
}

#arrow{
	background:url(../image/arrow.png) no-repeat;
	width:9px;
	height:142px;
	margin-left:40px;
	margin-top:85px;
}

#adress{
	background:url(../image/adress.png) no-repeat;
	width:172px;
	height:34px;
	margin-left:20px;
	margin-top:20px;
	
}

#phone{
	width:100px;
	height:18px;
	margin-left:75px;
	margin-top:-35px;
	
}
#cl{
	clear:both;
}

#ap{
	width:200px;
	height:100px;
	margin-left:70px;
	margin-top:-130px;
}

#st{
	width:140px;
	height:40px;
	margin-top:18px;
	margin-left:48px;
	text-align:center;
	font-size:medium;
	
}

#slid{
	width:795px;
	height:500px;
	float:right;
	
}

#news{
	width:700px;
	height:200px;
	margin-left:50px;
	margin-top:30px;
	
}

#fotter{
	background:url(../image/fotter.png) no-repeat;
	width:1100px;
	height:27px;
	margin-left:0px;
	margin-top:60px;
}

#p{
	background:url(../image/empty.png) no-repeat;
	width:260px;
	height:56px;
	margin-left:110px;
	margin-top:0px;

}


#pr{
    width:100px;
	height:35px;
	text-align:center;
	margin-left:80px;
	padding-top:10px;	
}

#contact{
	background:url(../image/empty.png) no-repeat;
	width:260px;
	height:56px;
	margin-left:110px;
	margin-top:0px;
	
}

#us{
	width:130px;
	height:35px;
	text-align:center;
	margin-left:75px;
	padding-top:10px;
	
}

#customer2{
	background:url(../image/customer.png) no-repeat;
	width:260px;
	height:56px;
	margin-left:150px;
	margin-top:5px;

}

#product2{
	background:url(../image/product.png) no-repeat;
	width:260px;
	height:56px;
	margin-left:150px;
	margin-top:5px;

}

#choose{
	width:660px;
	height:20px;
	margin-left:100px;
	margin-top:10px;
	font-family:Verdana, Geneva, sans-serif;
}

#pro{
	background:#FFF;
	width:210px;
	height:143px;
	margin-left:30px;
	margin-top:45px;
	float:left;
	border-radius:10px;
	border:double;
	border-color:#09c;
	}
	
	#proimg{
	background:#FFF;
	width:210px;
	height:103px;
	margin-top:0px;
	border-radius:10px;
	
	border-color:#09c;
	}
	
	#texpro{
	width:210px;
	height:36px;
	
	font-size:20px;
	color:#FFF;
	text-align:center;
	background:#090;
	padding-top:4px;
	
	
	
	}


#msg{
	width:620px;
	height:250px;
	margin-left:30px;
	margin-top:25px;
	
}

#register{
	background:url(../image/empty.png) no-repeat;
	width:260px;
	height:56px;
	margin-left:110px;
	margin-top:0px;

}

#re{
	width:100px;
	height:35px;
	text-align:center;
	margin-left:80px;
	padding-top:10px;
}

#info{
	width:400px;
	height:350px;
	margin-left:30px;
	margin-top:25px;

}

#tree2{
	background:url(../image/tree.png) no-repeat;
	width:373px;
	height:400px;
	margin-left:410px;
	margin-top:-390px;
	
}

input[type=submit]{
font-size:20px;
color:#FFF;
	
	
}
#video1{
	background:url(../image/empty.png) no-repeat;
	width:260px;
	height:56px;
	margin-left:110px;
	margin-top:0px;
	
}

#video2{
	width:100px;
	height:35px;
	text-align:center;
	margin-left:80px;
	padding-top:10px;
	
}

#on{
	width:500px;
	height:250px;
	border:double;
	margin-left:30px;
	margin-top:25px;
	
}

#v{
	width:500px;
	height:25px;
	margin-left:300px;
	margin-top:50px;
}

#partener2{
	width:520px;
	height:90px;
	margin-left:110px;
	margin-top:0px;
}



#newss{
	background:url(../image/home.png) no-repeat;
	width:170px;
	height:44px;
	margin-left:520px;
	margin-top:0px;
}

#nabza{
	width:120px;
	height:25px;
	padding-top:10px;
	margin-left:25px;
	color:#FFF;
}

#nn{
	width:500px;
	height:140px;
	margin-top:5px;
	margin-left:115px;
	border:solid;
	border-color:#06C;
	border-radius:10px;
	overflow:auto;
}

#more{
	width:120px;
	height:18px;
	margin-top:110px;
	margin-left:5px;
	color:#06C;
	
}


#video_item{
width:250px;
height:190px;

float:left;
margin-left:40px;
margin-top:25px;	
	
}


